<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<string>操作成功</string>
	<key>1</key>
	<string>消息错误</string>
	<key>2</key>
	<string>操作失败</string>
	<key>3</key>
	<string>用户不存在</string>
	<key>4</key>
	<string>登录失败</string>
	<key>5</key>
	<string>原密码错误</string>
	<key>6</key>
	<string>版本过低</string>
	<key>7</key>
	<string>用户已存在</string>
	<key>8</key>
	<string>搜索结果为空</string>
	<key>9</key>
	<string>用户名或密码错误</string>
	<key>10</key>
	<string>用户登录失效</string>
	<key>11</key>
	<string>数据库操作失败</string>
	<key>12</key>
	<string>数据库创建失败</string>
	<key>13</key>
	<string>数据库删除失败</string>
	<key>14</key>
	<string>数据库更新失败</string>
	<key>15</key>
	<string>数据库查询失败</string>
	<key>16</key>
	<string>上传图片失败</string>
	<key>17</key>
	<string>网络连接异常</string>
	<key>18</key>
	<string>输入为空</string>
	<key>19</key>
	<string>无权操作</string>
	<key>20</key>
	<string>无效手机号码</string>
	<key>21</key>
	<string>验证码无效</string>
	<key>22</key>
	<string>密码不能为空</string>
	<key>23</key>
	<string>确认密码不一致</string>
	<key>24</key>
	<string>更新版本失败</string>
	<key>25</key>
	<string>权限不存在</string>
	<key>26</key>
	<string>角色不能为空</string>
	<key>27</key>
	<string>发送验证码失败</string>
	<key>28</key>
	<string>公司已存在</string>
	<key>29</key>
	<string>不能删除自己</string>
	<key>30</key>
	<string>公司已暂停服务，请联系客服人员</string>
	<key>10000</key>
	<string>用户未审核</string>
	<key>10001</key>
	<string>用户审核未通过</string>
	<key>10002</key>
	<string>激活码已失效</string>
</dict>
</plist>
